h1 {
            color: rgb(62, 82, 89);
            text-align:center;
    }  
        
body {
            background-color: rgb(252, 118, 111);
      }

p {
            color: rgb(0, 0, 0)
  }                     
